.wrapper {
	display: grid;
	place-items: center;
}

.leaderboard {
	display: flex;
	flex-direction: column;
}

@media (max-width: 595px) {
	.wrapper {
		place-items: start;
		margin-left: 1rem;
		margin-bottom: 1rem;
	}
}
