.charDropdown {
	background-color: white;
	list-style-type: none;
}

.character {
	border: solid gray 1px;
	text-align: center;
}

.character:hover {
	background-color: lightgray;
	cursor: pointer;
}
